  .btn-primary {
    color: $dark;
    &:hover{
        background-color: $danger;
        border-color: $danger;
        color: white;
    }
  }

  .btn-outline-secondary:hover {
    background: $warning;
    border-color: $warning;
    color: $secondary;
     i{
        color: $danger;
     }
  }
  